@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Dosis:wght@200..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');




:root{
--color-general: #66615b;
--color-titulos: #111111;
--fondo-azul: #f5fafd;
--color-iconos-naranja: #f5593d;
--color-iconos-gris: #888;
--fondo-footer: #252422;
--letra-footer: #fff;
}


header{
	background-color: transparent;
	padding: 10px 0;
	font-size: 17px;
	position: absolute;
	top:0;
	width: 100%;
	color: var(--color-iconos-gris);
}

body{
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: var(--color-titulos);
	line-height: 1.8;
}

h1,h2,h3,h4,h5,h6{
	 font-family: "Dosis", sans-serif;
}

#hero{
	padding: 15% 0 0;
	background-image: url("../img/bg-site.jpeg");
	background-size: 100% 70%;
	background-repeat: no-repeat;
	background-position: top center;
}

.title-hero{
	font-size: 50px;
	font-weight: 500;
	color: var(--letra-footer);
}

.texto-mediano{
	font-size: 50px;
	font-weight: 500;
	color: var(--letra-footer);
}

.texto-small{
	font-size: 18px;
   color: var(--letra-footer);
}

.btn-primary{
	border-radius: 50px;
	background-color: var(--color-base);
	border-color: var(--letra-footer);
	font-size: 15px;
	padding: 10px 20px;
	font-weight: 500;
}

#features{
	background-color: var(--letra-footer);
	padding-top: 40px;
}

#features i{
font-size: 60px;
	color: var(--color-iconos-naranja);	
}

#aboutus{
	padding-top: 60px;
	padding-left: 5%;
}

#testimonios{
	text-align: center;
	padding: 5% 0;
	
}

.cards{
	background-color: var(--fondo-azul);
	padding: 40px;
	border-radius: 30px;
	
}

.img-circle{
	border-radius: 100%;
}

footer{
	background-color: var(--fondo-footer);
	color: var(--fondo-footer);
	padding: 30px 0;
	font-size: 13px;
	font-weight: 600;
	text-align: center;
}

footer p span{
	color: var(--letra-footer);
}
footer #copy{
	padding: 20px 0;
	margin-top: 5%;
	color: var(--letra-footer);
	border-top: 1px dashed rgba(255, 255, 255, 0.15);
}
